/* ///////////////////////////////////////variabili/////////////////////////////////////////*/
:root{
    --hbanner: 150px; /*altezza banner*/
    --padding: 1rem;
    --hlogo: 85px;  /* altezza logo */
    --m: 30px;
    --l:35px;
}
body>*,
 .main>* {
   min-width: 100px;
   min-height: 100px;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed red;
    color: rgba(255, 255, 255, 0.466);
}
.flex{
    display: flex;
}
body{
    height: 100vh;
    flex-grow: 0;
    overflow: hidden;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: white;
    font-size: var(--l);
}
/* ///////////////////////////////////////variabili/////////////////////////////////////////*/

/* ///////////////////////////////////////overflow layout/////////////////////////////////////////*/


.banner{
    width: 100%;
    flex-shrink: 0;
    background-color: #090B12;
    align-items: center;
    justify-content: end;
    height: var(--hbanner);
}
.banner button{
    height: 70px;
    width: 400px;
    background-color: #090B12;
    border-color: white;
    border-radius: 36px;
    font-size: 24px;
}

.main-menu{                 /* / / / / / / main section e overflow / / / / / / */
    flex-direction: column;
}
.main{
    height: 100%;
}
.overflow {
    overflow: auto;
    flex-grow: 1;
    background-color: #141922;
    font-size: 2rem;
    height: 100%;
}

.left-nav{                  /* / / / /  nav left / / / / / */
    flex-shrink: 0;
    width: 450px;
    background-color: rgb(5, 5, 5);
    flex-direction: column;
    justify-content:space-between ;
}
.logo {
    height: var(--hbanner);
    padding: calc( (150px - var(--hlogo) ) / 2 ) var(--padding);
}

.logo img{
    display: inline-block;
    height: var(--hlogo);
}
.lat-icon img{
    width: 50px;
    margin-right: var(--padding);
}
.lat-icon{
    height: 60px;
    align-items: center;
    font-size: var(--m);
    margin: calc( var(--padding) / 2 ) var(--padding);
}
.ln a{
    text-decoration: none;
}
.user img{
    border-radius: 50%;
    width: 80px;
    aspect-ratio: 1 / 1;
    background-color: grey;
    margin:1rem;
}
.user{
    margin: var(--padding) var(--padding);
    align-items: center;
}
.bortop{
    border-top: 1px white solid;
}


.nav-bot{                       /* / / / / / nav bot/ / / / / / */
    height: var(--hbanner);
    background-color: #282828;
    flex-shrink: 0;
}
.ln .user span {
    font-size: var(--m);
}
.m{      /* / / / / / / / / / /da usare per i titoli playlist / / / / / / / / / / */
    font-size: 40px;
    margin:  0rem 1.5rem 0rem 1rem;
}
 /* ///////////////////////////////////overflow layout////////////////////////////////////// */
