/* ///////////////////////////////////////variabili/////////////////////////////////////////*/
:root{
    --hbanner: 150px; /*altezza banner*/
    --padding: 1rem;
}

/* ///////////////////////////////////////variabili/////////////////////////////////////////*/

/* ///////////////////////////////////////overflow layout/////////////////////////////////////////*/

body>*,
 .main>* {
   min-width: 100px;
   min-height: 100px;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed red;
    color: white;
}
.flex{
    display: flex;
}
body{
    height: 100vh;
    flex-grow: 0;
    overflow: hidden;
    flex-direction: column;
}
.banner{
    width: 100%;
    flex-shrink: 0;
    background-color: #090B12;
    align-items: center;
    justify-content: end;
    height: var(--hbanner);
}
.banner button{
    height: 50px;
    width: 250px;
    background-color: #090B12;
    border-color: white;
    border-radius: 30px;
}

.main-menu{                 /* / / / / / / main section e overflow / / / / / / */
    flex-direction: column;
}
.main{
    height: 100%;
}
.overflow {
    overflow: auto;
    flex-grow: 1;
    background-color: #141922;
    font-size: 2rem;
    height: 100%;
}

.left-nav{                  /* / / / /  nav left / / / / / */
    flex-shrink: 0;
    width: 300px;
    background-color: black;
    flex-direction: column;

}
.logo {
    height: var(--hbanner);

}

.logo img{
    display: inline-block;
    width: 70%;


}

.nav-bot{                       /* / / / / / nav bot/ / / / / / */
    height: var(--hbanner);
    background-color: #282828;
    flex-shrink: 0;
}

 /* ///////////////////////////////////overflow layout////////////////////////////////////// */
